Creating Button Flows/Microsoft.Flow/flows/be7d48dd-fee7-4dff-bcdd-e2dc06571bb1/definition.json
{"name":"ad079303-c06b-4ca6-8939-4c8cf41eb9da","id":"/providers/Microsoft.Flow/flows/ad079303-c06b-4ca6-8939-4c8cf41eb9da","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Out sick","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"f9695749-c3c3-4d30-b884-bb4dd913ab47","type":"User","tenantId":"5304a95c-5ee5-4443-8624-7ef70524e648"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-03-10T04:12:51.645224Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"23824f3e-9566-4a1b-8037-badac2b403b4"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_my_profile_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"05b852f7-1f38-40f0-aeed-8c17554eec64"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_manager_(V2)":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"c415fd84-1d67-46d6-838b-370dfb04677d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"Manager_V2"},"parameters":{"id":"@outputs('Get_my_profile_(V2)')?['body/userPrincipalName']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"runAfter":{"Get_manager_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"640adc39-932c-4b4d-9479-b40020e83e5a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_manager_(V2)')?['body/mail']","emailMessage/Subject":"Aaron is out of office today (@{formatDateTime(utcNow(), 'MM/dd/yyyy')})","emailMessage/Body":"<p>I will be out of the office today, &nbsp;@{formatDateTime(utcNow(),'MM/dd/yyyy')}@{formatDateTime(utcNow(), 'MM/dd/yyyy')}. I wil be available via mobile for emergencies.</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_office365users":{"connectionName":"shared-office365user-607d032f-af6f-4105-b36e-17839ccd47b5","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-201cb2b2-b26b-4023-9b21-e7ac8bca510b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}